In [3]:
import databaseconfig as cfg
import pandas as pd
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
address='postgresql://postgres:'+cfg.postgres['pw']+'@'+cfg.postgres['host']+':5432/Pewlett_Hackard'
engine = create_engine(address)
conn = engine.connect()

In [4]:
# Gather employees starting after start of 2002
employee_df = pd.read_sql("""
SELECT * FROM employees  e INNER JOIN (SELECT emp_no junk FROM dept_emp WHERE from_date>='2002-01-01') de
ON e.emp_no = de.junk;""", conn)
employee_df = employee_df[['emp_no','birthdate','first_name','last_name','gender','hire_date']]

# Gather all department manager and add to the employee dataframe
employee_mgr_df = pd.read_sql("""
SELECT * FROM employees AS e INNER JOIN (SELECT emp_no junk FROM dept_manager WHERE from_date<'2001-01-01') dm
ON e.emp_no = dm.junk;""", conn)
employee_mgr_df = employee_mgr_df[['emp_no','birthdate','first_name','last_name','gender','hire_date']]

employee_df = employee_df.append(employee_mgr_df, ignore_index=True)
# Write employee dataframe to csv
employee_df.to_csv('app/data/employees_sm.csv', index=False)
total_rows = employee_df.shape[0]
print(total_rows)

1890

In [5]:
# Gather all employee titles starting after start of 2002
title_df = pd.read_sql("""
SELECT * FROM titles t INNER JOIN (SELECT emp_no junk FROM dept_emp WHERE from_date>='2002-01-01') de
ON t.emp_no = de.junk;""", conn)
title_df = title_df[['id','emp_no','title','from_date','to_date']]

# Gather all department managers and add to title dataframe
title_mgr_df = pd.read_sql("""
SELECT * FROM titles AS t INNER JOIN (SELECT emp_no junk FROM dept_manager WHERE from_date<'2002-01-01') dm
ON t.emp_no = dm.junk;""", conn)
title_mgr_df = title_mgr_df[['id','emp_no','title','from_date','to_date']]

title_df = title_df.append(title_mgr_df, ignore_index=True)
# Write employee dataframe to csv
title_df.to_csv('app/data/titles_sm.csv', index=False)
total_rows += title_df.shape[0]
print(total_rows)

4483

In [6]:
# Gather all departments of employees starting after start of 2002
dept_emp_df = pd.read_sql("""
SELECT * FROM dept_emp 
WHERE from_date>='2002-01-01';""", conn)
dept_emp_df = dept_emp_df[['id','emp_no','dept_no','from_date','to_date']]

# Gather all department managers and add to dept_emp dataframe
dept_emp_mgr_df = pd.read_sql("""
SELECT * FROM dept_emp AS de INNER JOIN (SELECT emp_no junk FROM dept_manager WHERE from_date<'2002-01-01') dm
ON de.emp_no = dm.junk;""", conn)
dept_emp_mgr_df = dept_emp_mgr_df[['id','emp_no','dept_no','from_date','to_date']]

dept_emp_df = dept_emp_df.append(dept_emp_mgr_df, ignore_index=True)
dept_emp_df.to_csv('app/data/dept_emp_sm.csv', index=False)
total_rows += title_df.shape[0]
print(total_rows)

7076

In [7]:
salaries_df = pd.read_sql("""
SELECT * FROM salaries s INNER JOIN (SELECT emp_no junk FROM dept_emp WHERE from_date>='2002-01-01') de
ON s.emp_no = de.junk;""", conn)
salaries_df = salaries_df[['id','emp_no','salary','from_date','to_date']]

# Gather all department managers and add to dept_emp dataframe
salaries_mgr_df = pd.read_sql("""
SELECT * FROM salaries AS s INNER JOIN (SELECT emp_no junk FROM dept_manager WHERE from_date<'2002-01-01') dm
ON s.emp_no = dm.junk;""", conn)
salaries_mgr_df = salaries_mgr_df[['id','emp_no','salary','from_date','to_date']]

#getcontext().prec = 9
#salary_list=[Decimal(num) for num in salary_list]
salaries_df.to_csv('app/data/salaries_sm.csv', index=False)
total_rows += title_df.shape[0]
print(total_rows)

9669