In [1]:
import databaseconfig as cfg
import pandas as pd
import matplotlib.pyplot as plt

from sqlalchemy import *

address='postgresql://'+cfg.postgres['user']+':'+cfg.postgres['pw']+'@'+cfg.postgres['host']+'/'+cfg.postgres['db']
engine = create_engine(address)
conn = engine.connect()
metadata = MetaData()

# employees table

In [2]:
# Set up employees table

# CREATE TABLE employees (
# 	emp_no INT PRIMARY KEY,
# 	birthdate date NOT NULL,
# 	first_name VARCHAR(45),
# 	last_name VARCHAR(45),
# 	gender VARCHAR(10),
# 	hire_date date NOT NULL
# );
employees = Table('employees', metadata,
    Column('emp_no', Integer, primary_key=True),
    Column('birthdate', DateTime(), nullable=False),
    Column('first_name', String(45)),
    Column('last_name', String(45)),
    Column('gender', String(10)),
    Column('hire_date', DateTime(),nullable=False)
)

In [3]:
metadata.create_all(engine)

In [4]:
employee_df = pd.read_csv('data/employees_sm.csv')
employee_df.to_sql('employees', con=engine, if_exists='append', index=False)

# departments table

In [5]:
# Set up departments table

# CREATE TABLE departments (
# 	dept_no VARCHAR(10) PRIMARY KEY,
# 	dept_name VARCHAR(45)
# );

departments = Table('departments', metadata,
    Column('dept_no', String(10), primary_key=True),
    Column('dept_name', String(45),nullable=False)
)

In [6]:
metadata.create_all(engine)

In [7]:
departments_df = pd.read_csv('data/departments.csv')
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

# department employees table

In [8]:
# Set up dept_emp table

# CREATE TABLE dept_emp (
# 	ID SERIAL PRIMARY KEY,
# 	emp_no INT,
# 	FOREIGN KEY (emp_no)
#     REFERENCES employees (emp_no),
# 	dept_no VARCHAR(10),
# 	FOREIGN KEY (dept_no) REFERENCES departments (dept_no),
# 	from_date date NOT NULL,
# 	to_date date NOT NULL
# );

dept_emp = Table('dept_emp', metadata,
    Column('id', Integer, primary_key=True),
    Column('emp_no', Integer, ForeignKey("employees.emp_no"), nullable=False),
    Column('dept_no', String(10), ForeignKey("departments.dept_no"), nullable=False),          
    Column('from_date', DateTime(), nullable=False),
    Column('to_date', DateTime(), nullable=False)
)

In [9]:
metadata.create_all(engine)

In [10]:
dept_emp_df = pd.read_csv('data/dept_emp_sm.csv')
dept_emp_df.to_sql('dept_emp', con=engine, if_exists='append', index=False)

# department manager table

In [11]:
# CREATE TABLE dept_manager (
# 	ID SERIAL PRIMARY KEY,
# 	dept_no VARCHAR(10),
# 	FOREIGN KEY (dept_no) REFERENCES departments (dept_no),
# 	emp_no INT,
# 	FOREIGN KEY (emp_no)
#     REFERENCES employees (emp_no),
# 	from_date date NOT NULL,
# 	to_date date NOT NULL
# );

dept_manager = Table('dept_manager', metadata,
    Column('id', Integer, primary_key=True),
    Column('dept_no', String(10), ForeignKey("departments.dept_no"), nullable=False),          
    Column('emp_no', Integer, ForeignKey("employees.emp_no"), nullable=False),
    Column('from_date', DateTime(), nullable=False),
    Column('to_date', DateTime(), nullable=False)
)

In [12]:
dept_manager_df = pd.read_csv('data/dept_manager.csv')
dept_manager_df.to_sql('dept_manager', con=engine, if_exists='append', index=False)

# salaries table

In [14]:
# CREATE TABLE salaries (
# 	ID SERIAL PRIMARY KEY,
# 	emp_no INT,
# 	FOREIGN KEY (emp_no)
#     REFERENCES employees (emp_no),
# 	salary DECIMAL(11,2),
# 	from_date date NOT NULL,
# 	to_date date NOT NULL
# );

salaries = Table('salaries', metadata,
    Column('id', Integer, primary_key=True),         
    Column('emp_no', Integer, ForeignKey("employees.emp_no"), nullable=False),
    Column('salary',Float(precision=2, asdecimal=True)),
    Column('from_date', DateTime(), nullable=False),
    Column('to_date', DateTime(), nullable=False)
)

In [16]:
salaries_df = pd.read_csv('data/salaries_sm.csv')
salaries_df.to_sql('salaries', con=engine, if_exists='append', index=False)

# titles table

In [18]:
# CREATE TABLE titles (
# 	ID SERIAL PRIMARY KEY,
# 	emp_no INT,
# 	FOREIGN KEY (emp_no)
#     REFERENCES employees (emp_no),
# 	title VARCHAR(45),
# 	from_date date NOT NULL,
# 	to_date date NOT NULL
# );

titles = Table('titles', metadata,
    Column('id', Integer, primary_key=True),
    Column('emp_no', Integer, ForeignKey("employees.emp_no"), nullable=False),
    Column('title',String(45)),
    Column('from_date', DateTime(), nullable=False),
    Column('to_date', DateTime(), nullable=False)
)

In [19]:
titles_df = pd.read_csv('data/titles_sm.csv')
titles_df.to_sql('titles', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql("""
SELECT * FROM employees LIMIT 10
;""", conn)